body {
    background-color: #f7f3e5;
    position: relative;
}

p, h2, h3, h4, a, span, li,
.selectize-control, .control-label, .form-control {
    font-family: Raleway, sans-serif;
}

a {
    color: #0539bc;
}

a:link {
    color: #0539bc;
}

a:visited {
    color: #e41a1c;
}

a:focus {
    color: #0539bc;
}

a:hover {
    color: #0539bc;
}

a:active {
    color: #0539bc;
}

.navbar-brand {
    display: none;
}

.navbar-nav {
    text-align: center;
}

@media (min-width: 768px) {
    
    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
    }
    
    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
    
}

.navbar-inverse {
    background-color: #555555;
    border: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #dddddd;
    font-size: 1.75rem;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #333333;
}

.dropdown-menu {
    background-color: #f7f3e5;
    border-color: #bbbbbb;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #bbbbbb;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background-color: #0539bc;
}

.static-content {
    font-size: 1.75rem;
}

.container-fluid {
    max-width: 970px;
}

.selectize-input {
    margin-top: 2rem;
    border-color: #bbbbbb;
    background-color: #f7f3e5;
    color: #555555;
    border-radius: 0;
    border-style: none none solid none;
    height: 2.5rem;
    font-size: 1.75rem;
    white-space: nowrap;
}

.selectize-input.full {
    background-color: #f7f3e5;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
    background-color: #f7f3e5;
    border-radius: 0;
}

.selectize-control.single .selectize-input:after {
    display: none;
}

.selectize-input.focus {
    border-style: none none solid none;
    border-color: #bbbbbb;
    box-shadow: none;
}

.selectize-dropdown, .selectize-dropdown.form-control {
    background-color: #f7f3e5;
}

.selectize-dropdown-content .active {
    background-color: #555555;
    color: #f7f3e5;
}

#yaxis-rating {
    margin-top: 275px;
    float: right;
}

#yaxis-pledges {
    margin-top: 100px;
    float: right;
}

.shiny-plot-output {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    max-width: 400px;
    max-height: 250px;
}

#nlp {
    max-width: none;
    max-height: none;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
}

.tags-top-hr {
    width: 75%;
    border-color: #bbbbbb;
}

.tags-hr {
    width: 50%;
    border-color: #bbbbbb;
}

.tag-header {
    color: #555555;
    text-align: center;
    font-size: 2.25rem;
    margin-top: 0.5rem;
}

.coef-header {
    color: #555555;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.coef-name {
    color: #555555;
    text-align: center;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.text-negative {
    color: #e41a1c;
}

.text-positive {
    color: #0539bc;
}

.progress {
    height: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7f3e5;
    border: 1px solid #bbbbbb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.progress-negative {
    background-color: #e41a1c;
}

.progress-positive {
    background-color: #0539bc;
}

.footer p {
    display: inline;
}

.loading-bar {
    height: 3rem;
    border-radius: 1.5rem;
}

.loading {
    background-color: #0539bc;
}

.loading-text {
    font-size: 1.5rem;
    line-height: 3rem;
    color: #f7f3e5;
}

#intro-head {
    font-size: 4rem;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-bottom: 4rem;
    padding: 0 10%;
}

#intro-content, #report-content {
    margin-bottom: 2rem;
}

.section-head {
    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    margin-bottom: 2rem;
}

.subsection-head {
    margin-bottom: 2rem;
}

#report-nav-ul > .active > a {
    background-color: red;
}

.inline-code {
    font-family: monospace;
    color: #e41a1c;
}

#report-nav {
    margin-left: 1rem;
    margin-bottom: 2rem;
}

#report-nav-header {
    margin-top: 0;
}

#report-nav.affix {
    top: 1.5rem;
}

#report-nav-col {
    padding-right: 3rem;
}

#report-nav ul {
    list-style-type: none;
}

#report-nav > ul {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-inset {
    margin-left: 2rem;
}

#report-nav li {
    margin-top: 0.75rem;
}

#report-nav h3 {
    color: #555555;
}

#report-nav a,
#report-nav a:link,
#report-nav a:visited,
#report-nav a:focus,
#report-nav a:hover,
#report-nav a:active {
    color: #555555;
    text-decoration: none;
}

#report-nav a:hover {
    border-bottom: solid 1px #e41a1c;
}

#results-summary > h2 {
    margin-top: 0;
}

#report-nav-ul > li > a.nav-active {
    color: #e41a1c;
}

@media (min-width: 768px) {
    nav.stick {
        position: fixed;
        top: 0;
        z-index: 10000;
        margin-top:12px;
    }
}

.report-img {
    margin: 2rem auto;
    display: block;
}

.form-control {
    background-color: #f7f3e5;
}

#nlp_sort:focus {
    border-color: #bbbbbb;
}

.text-blue {
    color: #0539bc;
}

.text-red {
    color: #e41a1c;
}